.nhr-countdown-timer-container {
  margin: 10px;
  width: calc(100% - 20px);
  height: auto;
  box-sizing: border-box;
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}

.nhr-countdown-timer-container .nhr-countdown-timer {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding: 15px;
}

.nhr-countdown-timer-container .nhr-countdown-timer p.days-left-text {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #ddd;
}

.nhr-countdown-timer-container .nhr-countdown-timer p.days-left-text span {
  color: white;
}

.nhr-countdown-timer-container .nhr-countdown-timer .countdown-timer-units {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nhr-countdown-timer-container .nhr-countdown-timer .countdown-timer-units li {
  margin: 0 5px;
  width: 85px;
  background: tomato;
  color: white;
  font-size: 40px;
  line-height: 30px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
  padding: 10px 10px 5px 10px;
  font-family: "Digital";
}

.nhr-countdown-timer-container .nhr-countdown-timer .countdown-timer-units li span {
  font-size: 15px;
  margin: 0;
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
}
